@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #190d05;
  --foreground: #fcf5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #190d05;
    --foreground: #fcf5e5;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari */
}
.no-scrollbar {
  /* -ms-overflow-style: none; Hide scrollbar in IE, Edge  */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

::-webkit-scrollbar-track {
  background-color: #190d05;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50%;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
}

.PrmText {
  color: #fcf5e5 !important;
}

.SecText {
  color: #190d05 !important;
}

.PrmColor {
  background-color: #fcf5e5 !important;
}

.SecColor {
  background-color: #190d05 !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bottomCurve {
  border-radius: 0 0 50% 50% / 0 0 10% 10%;
  overflow: hidden;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: moveToTop 2s ease-out forwards 1.8s;
}

@keyframes moveToTop {
  from {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    font-size: 3rem;
    gap: 0;
    left: 0;
    top: 0;
    transform: translate(4%, -16%);
  }
}

/* Fades out name smoothly */
.fade-out {
  animation: fadeBlur 1.4s ease-out forwards 1s;
}

@keyframes fadeBlur {
  from {
    opacity: 1;
    filter: blur(0px);
  }
  to {
    opacity: 0;
    filter: blur(6px);
    visibility: hidden;
  }
}

.redBall {
  animation: rb ease-in 4s forwards;
  position: relative;
}

@keyframes rb {
  from {
    right: 20%;
    bottom: 10%;
  }

  50% {
    right: 0%;
    bottom: 0%;
  }

  70% {
    right: 0%;
    bottom: 0%;
  }

  80% {
    bottom: -30%;
    right: 0;
  }

  90% {
    bottom: -28%;
    right: 0;
  }

  91% {
    bottom: -30%;
    right: 0%;
    height: 200px;
    width: 200px;
  }

  95% {
    bottom: -30%;
    right: 0%;
    height: 200px;
    width: 200px;
  }

  100% {
    bottom: -30%;
    right: 0%;
    height: 500px;
    width: 500px;
  }
}

.fade {
  animation: ff ease 1.4s forwards 2.2s;
}

@keyframes ff {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.move {
  animation: mv linear 2s infinite;
  position: relative;
}

@keyframes mv {
  from {
    left: 0;
  }
  50% {
    left: 10%;
  }
  to {
    left: 0;
  }
}

.eyeball {
  animation: retina linear 2s infinite;
  position: relative;
}

@keyframes retina {
  0% {
    top: 0%;
  }
  10% {
    top: 10%;
  }
  20% {
    top: 14%;
  }
  30% {
    top: 14%;
  }
  50% {
    top: 14%;
  }
  70% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}

.aurora-container {
  width: 100%;
  height: 100%;
}

.noise {
  background-image:
    linear-gradient(to right, #ea580c, rgba(255, 255, 255, 0.4)),
    url("/noise.svg");
  background-repeat: repeat;
  background-size: cover, auto; /* Cover for gradient, auto for noise */
}

.noiseReverse {
  background-image:
    linear-gradient(to left, #ea580c, rgba(255, 255, 255, 0.4)),
    url("/noise.svg");
  background-repeat: repeat;
  background-size: cover, auto; /* Cover for gradient, auto for noise */
}

.noiseLeft {
  background-image:
    linear-gradient(to right, #ea580c, rgba(255, 255, 255, 0.4)),
    url("/noise.svg");
  background-repeat: repeat;
  transform: rotate(-2deg);
  background-size: cover, auto; /* Cover for gradient, auto for noise */
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .Telephone:hover,
.wrapper .Telephone:hover .tooltip,
.wrapper .Telephone:hover .tooltip::before {
  background: #73e27e;
  color: #fff;
}

.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
  background: #d09c71;
  color: #fff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #3c3b3b;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover,
.wrapper .instagram:hover {
  background: linear-gradient(-110deg, rgb(183, 71, 67), rgb(224, 222, 98));
  color: #fff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: red;
}

.motion.div{
  will-change: transform;
}